{% extends 'layout.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-1">내 파일</h1>
    </div>
</section>

<section class="section">
    <div class="container">
    {% for file in files %}
        <div class="box" style="font-size:1.3rem" data-url="/file/{{ file_id_storage[file.code] }}">
            <p>{{ file.name }}</p>
        </div>
    {% endfor %}
    </div>
</section>
{% endblock %}

{% block script %}
<script>
    document.querySelectorAll("div.box").forEach((element) => {
	    element.addEventListener('click', () => {
            location.href = element.dataset.url;
	    });
    });
</script>
{% endblock %}