{% extends 'layout.html' %}
{% block content %}
    <section class="section">
        <h1 class="title">파일 업로드</h1>
        <div class="content is-large">
            <ul>
                <li>파일 아이디: <b>{{ file_id }}</b></li>
                <li>파일명: <b>{{ name }}</b></li>
                <li>파일크기: <b>{{ size|display_size }}</b></li>
                <li>MD5: <b>{{ md5 }}</b></li>
            </ul>
        </div>

        <a class="button is-success is-large" href="{{ url_for('download.file', file_id=file_id) }}">파일 다운로드</a>
    </section>
{% endblock %}