{% extends 'layout.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-1">{{ name }}</h1>
        <div class="content is-large">
            <div class="columns copy" data-clipboard-text="{{ request.base_url }}">
                <div class="column is-2"><b>파일 아이디</b></div>
                <div class="column">{{ file_id }}</div>
            </div>
            <div class="columns">
                <div class="column is-2"><b>용량</b></div>
                <div class="column">{{ size|display_size }}</div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <a class="button is-info is-light is-medium is-fullwidth" href="{{ url_for('download.file', file_id=file_id, fake=name) }}">파일 다운로드</a>
            </div>
            <div class="column">
                <a class="button is-link is-light is-medium is-fullwidth" href="{{ url_for('file.checksums', file_id=file_id) }}" target="_blank">체크섬</a>
            </div>
        </div>
    {% if request.cookies[file_id] %}
        <a class="button is-danger is-light is-medium is-fullwidth" href="{{ url_for('file.delete', file_id=file_id) }}">파일 삭제</a>
    {% endif %}
    </div>
</section>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/clipboard.min.js') }}"></script>
<script>
    const clipboard = new ClipboardJS(".copy");
    clipboard.on("success",function(e){e.clearSelection(),window.alert("복사되었습니다.");});
</script>
{% endblock %}